.container-nav {
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 10;
    overflow: hidden;
    margin-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: 96px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.navbar-small a {
    color: white;
    cursor: pointer;
    padding: 0;
    padding: 10px;
    opacity: 0.3;
}

nav.navbar-small a.active {
    background: linear-gradient(
        to right,
        rgba(255,45,210),
        rgba(54,181,255)
    );
    border-radius: 40px;
    opacity: 1;
    color: white;
}


