#contact {
    height: 100vh;
    background-color: var(--primary-bg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .custom-container {
    border: 3px solid rgba(255,255,255,0.4);
    position: relative;
    border-radius: 20px;
}

#contact h1 {
    margin: auto;
    font-size: 3.5em;
}

#contact input, #contact textarea {
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    width: 100%;
    margin: 30px 0;
    padding: 10px 0;
    color: white; 
    letter-spacing: 1.5px;
    font-size: 18px;
}

#contact textarea {
    padding: 0 0 40px 0;
}

#contact input::placeholder, #contact textarea::placeholder {
    color: var(--text-color);
    letter-spacing: 1.4px;
    font-size: 18px;
}


form {
    margin: 25px;
}

#send-btn {
    border-radius: 10px;
    color: var(--primary-color);
    background: linear-gradient(var(--primary-bg), var(--primary-bg)) padding-box,
              linear-gradient(to right, var(--primary-color), var(--secondary-color)) border-box;
    border: 2px solid transparent;
    padding: 8px 60px;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2.0px;

}

#send-btn:hover {
    background: linear-gradient(
        to right,
        rgba(255,45,210, 0.4),
        rgba(54,181,255, 0.4)
    ) padding-box,
    linear-gradient(to right, var(--primary-color), var(--secondary-color)) border-box;
    color: black;
}

@media (max-width: 991px) {
    #contact {
        flex-direction: column;
        padding: 0 20px;
        height: 1100px;
        justify-content: start;
    }

    #contact h1 {
        font-size: 2.2em;
        margin-bottom: 30px;
        padding-top: 20px;
        margin: 30px;
    }
    
    #contact .custom-container {
        margin-bottom: 100px;
    }
}